<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <title layout:title-template="Admin App - %s">Admin App</title>
    <th:block layout:fragment="css"></th:block>
  </head>
  <body>
    <!-- header -->
    <header th:replace="~{fragments/header :: headerFragment}"></header>

    <!-- sidebar-->
    <nav id="sidebar"
      th:replace="~{fragments/sidebar :: sidebarFragment}"
    ></nav>

    <!-- content -->
    <main id="content-wrapper">
        <h1>변경 2</h1>
      <div layout:fragment="content"></div>
    </main>

    <!-- footer -->
    <footer th:replace="~{fragments/footer :: footerFragment}"></footer>

    <th:block layout:fragment="script"></th:block>
  </body>
</html>
